*{
	color: #ffffff;
}
body
{
	background: #198A5E;
	font-size: 30px;
}
#contenedor
{
width: 1330px;
margin: left;
margin-top: 35px;
margin-bottom: 350px;

}
header {
	height: 35px;
	background: #CBE8DC;
}
header h1
{
	font-size: 25px;
	text-align: auto;
	line-height: 35px;
	
}
nav
{
margin-top: 100px;
background: #CBE8DC; 
}
nav h2
{
	font-size: 25px;
	text-align: auto;
	line-height: 35px;

}
#contenido
{
width: 1330px;
margin: left;
margin-top: 35px;

}
#contenido h2
{
	
	font-size: 18px;
	text-align: auto;
	line-height: 35px;
	margin-top: 0px;
	background: #BE3B7E;
}
aside 
{
	margin-top: 0px;
	background: #CBE8DC; 
}
aside h2
{

	font-size: 20px;
	text-align: auto;
	line-height: 35px;
	margin-top: 0px;
	background: #6A0808;
}