@font-face{
font-family:Fuentechida;
src:url(fonts/OleoScript-Regular.ttf);
}
    body{
        background-image: url(imagenes/85793-wallpaper-iphone.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }
    .formulario{
        
        margin-top: 100px;
        width: 30%;
        box-shadow: 0px 0px 40px rgba(213,0,0 ,1),0px 0px 80px rgba(256,256,256 ,1);
    }

    .formulario:hover{
        
        background-color: rgba(0,0,0,.5);
    }


.logo{
        height: 75px;
        margin-top: 40px;
    }
    
 .espaciado{
        margin-top: 40px;
    }

    


   h3,h4{
        
        color:white;
        text-align: center;
        font-family: fuentechida;
    }
  
    


    @media screen and (max-width:750px) {
        
        .logo{
            height: 50px;

        }
        .formulario{
            
            width: 95%;
            margin-top: 10px;
        }
    }