body
{
background: #F0D7D2;
}
h1
{
	color: #660000;
	font-family: Lucida Console ;
	font-size: 35px;
}
contenido
{
color:#660000;
font-family: arial ;
font-size: 20px;
}
y
{
	color:#660000;
	font-family: Lucida Console ;
	font-size: 35px;
}
h2
{
	color: red;
	font font-family: times new roman ;
	font-size: 15px;
}
h3
{
	color: #FFFF66;
	font-family: Algerian;
	font-size: 11px;
}